/*add here for code changes*/

/*Commonly Changed Items*/
:root{
    --backgroundColour:#244266;
    --buttonBackgroundColor:#08AEAD;
    --buttonTextColor:white;
    --textDarkBlueColor:#014598;
    --pointBackground: #08AEAD;
    --gameTopBackground: white;
    --backgroundColour2:#244266;
    --popUpBackground:rgba(36, 66, 102, 0.8);
    --scoreTextBackground:#FBCE59;
    --popUp:white;
    --borderColor:#08AEAD;
    --borderColor2:#08AEAD;
    --finalPopUpBackground:white;
    --greyColor:#4B4B4B;
}

/*SelectionPage*/
.choices, .instruction{
    color: var(--textWhiteColor);
}

/*InstructionPage*/
.details{
    color: var(--textBlackColor);
}

/*GamePage*/
.top{
    color: var(--greyColor);    
}

.point{
    color: var(--textWhiteColor);
}

.colorAnswer{
    display: flex;
    gap: 10px;
    border-radius: 20px;
    color: var(--textWhiteColor);
    font-size: 45px;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: var(--fullsize);
    height: auto;
}

.wheel{
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

.arrow{
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 80%;
    width: auto;
}

.stop{
    position: absolute;
    top: 30%;
    transform: translate(50%, 50%);
    right: 50%;
    width: auto;
}