/*add here for code changes*/

/*Commonly Changed Items*/
:root{
    --backgroundColour:#D5EBF9;
    --buttonBackgroundColor:#014598;
    --buttonTextColor:white;
    --textDarkBlueColor:#014598;
    --gameTopBackground: white;
    --backgroundColour2:#014598;
    --scoreTextBackground:#FBCE59;
    --borderColor2:#F25528;
    --finalPopUpBackground:white;
}

/*GamePage*/
.colorAnswer{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    font-size: 40px;
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: var(--fullsize);
    height: auto;
}

.wheel{
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

.arrow{
    position: absolute;
    top: -15%;
    transform: translate(50%, 50%);
    right: 50%;
    height: 15%;
    width: auto;
}

.stop{
    position: absolute;
    top: 30%;
    transform: translate(50%, 50%);
    right: 50%;
    width: auto;
}